.container {
  background-color: inherit;
}

.container .header {
  padding: 10px;
  text-align: center;
  font-size: 2rem;
  background-color: rgb(65, 105, 225);
  border-bottom: 0.3rem solid rgb(25, 25, 112);
}